﻿@model IEnumerable<WebshopLayer.Models.ProductModel>

@section Scripts{
    <script src="~/assets/ItemSlider/js/modernizr.custom.63321.js"></script>
    <script src="~/assets/ItemSlider/js/jquery.catslider.js"></script>
    <script>
        $(function () {

            $('#mi-slider').catslider();

        });
    </script>
}
@if (Model != null)
{
    <div class="main box-border">
        <div id="mi-slider" class="mi-slider">
            <ul>

                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/1.jpg" alt="img01"><h4>játék1</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/1.jpg" alt="img02"><h4>játék1</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/1.jpg" alt="img03"><h4>játék1</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/1.jpg" alt="img04"><h4>játék1</h4>
                    </a>
                </li>
            </ul>


            <ul>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/3.jpg" alt="img05"><h4>játék1</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/3.jpg" alt="img06"><h4>játék1</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/3.jpg" alt="img07"><h4>játék1</h4>
                    </a>
                </li>
            </ul>

            <nav>
                <a href="#">Újdongások</a>
                <a href="#">Top3 játékunk</a>
            </nav>


        </div>
    </div>
}

