﻿@model IEnumerable<WebshopLayer.Models.ProductModel>
@Html.AntiForgeryToken()

@if (Model.Count() == 0)
{
    <p>No data in DataBase!</p>
}
else
{
    foreach (var item in Model)
    {
            @Html.HiddenFor(m => item.ID);
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src='@Url.Action("Show", "Crud", new { id = item.ID })' alt="~/assets/img/dummyimg.png" width="140" height="200"/>
                    <div class="caption">
                        <h3><a href="#">@Html.DisplayFor(m => item.Name) </a></h3>
                        <p>Ár : <strong>@Html.DisplayFor(m => item.Price)</strong></p>
                        @if (Session["UserId"] != null)
                        {
                            <div class="section" style="padding-bottom:15px;">
                                @*<button class="btn btn-success" role="button"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Kosárba</button>*@
                                @using (Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud"))
                                {
                                    <p>
                                    @Html.ActionLink("  ", "AddToCart", new { customerid = Session["UserId"], productid = item.ID, productname = item.Name, description = item.Description, price = item.Price, image = item.image1 }, new { @class = "btn btn-success glyphicon glyphicon-shopping-cart", type = "submit" })
                                    
                                    @Html.ActionLink("  ", "AddToWishList", new { customerid = Session["UserId"], productid = item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-heart", type = "submit", id="addwishlist", onclick="myFunction()" })
                                    <button class="btn btn-danger" style="display:none" id="added" >Hozzáadva</button>
                                </p>
                                        }
                            </div>
                        }
                        @Html.ActionLink("Adatok", "Details", new { id = item.ID }, new { @class = "btn btn-default", role = "button" })
                    </div>
                </div>
            </div>       

    }

}

 
@section Scripts{
    <script language="javascript">
        function myFunction() {
            var x = document.getElementById('addwishlist');
            x.style.display = 'none';
            var y = document.getElementById('added');
            x.style.display = 'normal';
            }
        }
</script>
    }