﻿
@model WebshopLayer.Models.CustomerModel

@{
    ViewBag.Title = "CrudProfil";
}

@using (Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud"))  //<!-- Dynamic típus miatt ViewData-t használunk ViewBag helyett -->
{
@Html.ValidationSummary()
@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad col-md-offset-3 ">
            @Html.ActionLink("Kilépés", "Logout", "Crud")
            <br>
            <p class=" text-info">Létrehozva: @Html.DisplayFor(m => m.CreateDate) </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            @Html.HiddenFor(m => m.ID)
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Profil szerkesztése</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.LastName):</td>
                                        <td>@Html.EditorFor(m => m.LastName)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.FirstName):</td>
                                        <td>@Html.EditorFor(m => m.FirstName)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.Password):</td>
                                        <td>@Html.EditorFor(m => m.Password)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.E_mail):</td>
                                        <td>@Html.EditorFor(m => m.E_mail)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.PhoneNumber):</td>
                                        <td>@Html.EditorFor(m => m.PhoneNumber)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.ZipCode):</td>
                                        <td>@Html.EditorFor(m => m.ZipCode)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.Town):</td>
                                        <td>@Html.EditorFor(m => m.Town)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.Street):</td>
                                        <td>@Html.EditorFor(m => m.Street)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.StreetNumber):</td>
                                        <td>@Html.EditorFor(m => m.StreetNumber)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Elfogad" class="btn btn-sm btn-warning" />
                </div>
            </div>
        </div>
    </div>
</div>
}