﻿@model WebshopLayer.Models.LoginModel

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@{
    ViewBag.Title = "CrudBejelentkezés";
}
@Html.AntiForgeryToken()
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    @using (Html.BeginForm("Login", "Crud", "CrudIndex", FormMethod.Post))
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Belépés</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>
            <div style="padding-top:30px" class="panel-body">


                <form id="loginform" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">@Html.LabelFor(m => m.E_mail)</label>
                        @Html.TextBoxFor(m => m.E_mail, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.E_mail, "", new { @class = "text-danger"})
                        @*<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>*@
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">@Html.LabelFor(m => m.Password)</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Jelszó" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @*<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>*@
                        <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <input type="submit" value="Belépés" class="btn btn-default" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Ha még nincs regisztrálva:                                
                                @Html.ActionLink("Kattintson ide!", "Reg", "Crud")
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    }
</div>





