﻿@model WebshopLayer.Models.CrudModel
@{
    ViewBag.Title = "CrudIndex";
}

<!--Slider JavaScript file  -->

@section Scripts{
    <script src="~/assets/ItemSlider/js/modernizr.custom.63321.js"></script>
    <script src="~/assets/ItemSlider/js/jquery.catslider.js"></script>
    <script>
    $(function () {

        $('#mi-slider').catslider();

    });
    </script>
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="well well-lg offer-box text-center">


                    Minden termékünk 10% árengedménnyel megvásárolható !


                </div>

                @*@Html.Partial("CrudSliderView", Model.ProductList)*@
               
                    <div class="main box-border">
                        <div id="mi-slider" class="mi-slider">
                            <ul>
                                @foreach (var item in Model.NewestProducts)
                                {
                                    <li>
                                        
                                            <img src='@Url.Action("Show", "Crud", new { id = item.ID })' alt="~/assets/img/dummyimg.png"/>
                                            <h4>@Html.DisplayFor(m => item.Name)</h4>
                                        
                                    </li>
                                }
                            </ul>


                            <ul>
                                @foreach (var item in Model.BestProducts)
                                {
                                    <li>
                                        
                                            <img src='@Url.Action("Show", "Crud", new { id = item.ID })' alt="~/assets/img/dummyimg.png" />
                                            <h4>@Html.DisplayFor(m => item.Name)</h4>
                                        
                                    </li>
                                }
                                
                                @*<li>
                                    <a href="#">
                                        <img src="~/assets/ItemSlider/images/3.jpg" alt="img06"><h4>játék1</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/assets/ItemSlider/images/3.jpg" alt="img07"><h4>játék1</h4>
                                    </a>
                                </li>*@
                            </ul>

                            <nav>
                                <a href="#">Újdongások</a>
                                <a href="#">Top3 játékunk</a>
                            </nav>


                        </div>
                    </div>
                



            </div>
            <!-- /.col -->
            <div class="col-md-3 text-center">
                @foreach (var item in Model.OffProducts)
            {
                    <div class=" col-md-12 col-sm-6 col-xs-6">
                        <div class="offer-text">
                            -30%
                        </div>
                        <div class="thumbnail product-box">
                            <img src='@Url.Action("Show", "Crud", new { id = item.ID })' alt="~/assets/img/dummyimg.png" width="120" height="180" />
                            <div class="caption">
                                <h3><a href="#">@Html.DisplayFor(m => item.Name) </a></h3>
                                <div class="section" style="padding-bottom:15px;">
                                    @if (Session["UserId"] != null)
                                    {

                                        using (Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud"))
                                        {
                                            <p>
                                                @Html.ActionLink("  ", "AddToCart", new { customerid = Session["UserId"], productid = item.ID, productname = item.Name, description = item.Description, price = item.Price, image = item.image1 }, new { @class = "btn btn-success glyphicon glyphicon-shopping-cart", type = "submit" })

                                            </p>

                                        }
                                     }

                                                @*<button href="#" class="btn btn-success" role="button"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Kosárba</button>*@
</div>
                            </div>
                        </div>
                    </div>
                }


                
                @*<div class=" col-md-12 col-sm-6 col-xs-6">
                    <div class="offer-text2">
                        30% off here
                    </div>
                    <div class="thumbnail product-box">
                        <img src="~/assets/img/dummyimg.jpg" alt="" />
                        <div class="caption">
                            <h3><a href="#">Call of Duty 2 </a></h3>
                            <div class="section" style="padding-bottom:15px;">
                                <button href="#" class="btn btn-success" role="button"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Kosárba</button>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            
           
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">                
                <div>
                    <a class="list-group-item active">
                        Platformok
                    </a>
                    <ul class="list-group">
                       @Html.Partial("CrudPlatformList", Model.PlatformList)
                    </ul>
                </div>



                <!-- /.div -->
                @*<div>
                    <a href="#" class="list-group-item active list-group-item-success">
                        Clothing & Wears
                    </a>
                    <ul class="list-group">

                        <li class="list-group-item">
                            Men's Clothing
                            <span class="label label-danger pull-right">300</span>
                        </li>
                        <li class="list-group-item">
                            Women's Clothing
                            <span class="label label-success pull-right">340</span>
                        </li>
                        <li class="list-group-item">
                            Kid's Wear
                            <span class="label label-info pull-right">735</span>
                        </li>

                    </ul>
                </div>*@
                <!-- /.div -->
                @*<div>
                    <a href="#" class="list-group-item active">
                        Accessaries & Extras
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Mobile Accessaries
                            <span class="label label-warning pull-right">456</span>
                        </li>
                        <li class="list-group-item">
                            Men's Accessaries
                            <span class="label label-success pull-right">156</span>
                        </li>
                        <li class="list-group-item">
                            Women's Accessaries
                            <span class="label label-info pull-right">400</span>
                        </li>
                        <li class="list-group-item">
                            Kid's Accessaries
                            <span class="label label-primary pull-right">89</span>
                        </li>
                        <li class="list-group-item">
                            Home Products
                            <span class="label label-danger pull-right">90</span>
                        </li>
                        <li class="list-group-item">
                            Kitchen Products
                            <span class="label label-warning pull-right">567</span>
                        </li>
                    </ul>
                </div>*@
                <!-- /.div -->
                @*<div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><a href="#">New Offer's Coming </a></li>
                        <li class="list-group-item list-group-item-info"><a href="#">New Products Added</a></li>
                        <li class="list-group-item list-group-item-warning"><a href="#">Ending Soon Offers</a></li>
                        <li class="list-group-item list-group-item-danger"><a href="#">Just Ended Offers</a></li>
                    </ul>
                </div>*@
                <!-- /.div -->
                @*<div class="well well-lg offer-box offer-colors">


                    <span class="glyphicon glyphicon-star-empty"></span>25 % off  , GRAB IT

                    <br />
                    <br />
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                             style="width: 70%">
                            <span class="sr-only">70% Complete (success)</span>
                            2hr 35 mins left
                        </div>
                    </div>
                    <a href="#">click here to know more </a>
                </div>*@
                <!-- /.div -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div>
                    <ol class="breadcrumb">
                        <li>Játékok</li>
                        <li class="active"></li>
                    </ol>
                </div>
                <!-- /.div -->

                <div class="row">
                    @using (Html.BeginForm("Search", "Crud", FormMethod.Post))
                    {
                    <div class="navbar-form navbar-left" role="search">
                        <button type="submit" class="btn btn-primary">Keresés</button>
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Termék neve" class="form-control" />
                        </div>
                    </div>
                    }
                    <div class="btn-group alg-right-pad">

                        <label  class="btn btn-default"><strong>@Html.DisplayFor(m => Model.ProductList.Count)  </strong>termék</label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Rendezés &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                               <li>@Html.ActionLink("Árszerint növekvő", "PriceType", new { id = 1 }) </li> 
                                <li class="divider"></li>
                               <li>@Html.ActionLink("Árszerint csökkenő", "PriceType", new { id = 2 }) </li> 
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- /.col -->
                @Html.Partial("CrudProductList", Model.ProductList)
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <ul class="pagination alg-right-pad">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            <!-- /.row -->


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</body>