﻿@model IEnumerable<WebshopLayer.Models.CategoryModel>

@if (Model.Count() == 0)
{
    <p>No data in DataBase!</p>
}
else
{
    
        foreach (var item in Model)
        {

            <li class="list-group-item">
                @Html.DisplayFor(m => item.Name)
                <span class="label label-primary pull-right"></span>
            </li>
        }
    
}
