﻿@model WebshopLayer.Models.CustomerModel

@{
    ViewBag.Title = "CrudProfil";
}


<div class="container">
    <div class="row">
        <div class="col-md-5  toppad col-md-offset-3 ">
            @Html.ActionLink("Kilépés", "Logout", "Crud")
            <br>
            <p class=" text-info">Létrehozva: @Html.DisplayFor(m=>m.CreateDate) </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            @Html.HiddenFor(m => m.ID)
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(m => m.LastName) @Html.DisplayFor(m => m.FirstName)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.E_mail):</td>
                                        <td>@Html.DisplayFor(m => m.E_mail)</td>
                                    </tr>            
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.PhoneNumber):</td>
                                        <td>@Html.DisplayFor(m => m.PhoneNumber)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.ZipCode):</td>
                                        <td>@Html.DisplayFor(m => m.ZipCode)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.Town):</td>
                                        <td>@Html.DisplayFor(m => m.Town)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.Street):</td>
                                        <td>@Html.DisplayFor(m => m.Street)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.StreetNumber):</td>
                                        <td>@Html.DisplayFor(m => m.StreetNumber)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">@*  *@
                    @Html.ActionLink("Szerkesztés", "Edit", new { id = Session["UserId"] }, new { type = "button", @class = "btn btn-sm btn-warning" })
</div>

            </div>
        </div>
    </div>
</div>