﻿@model IEnumerable<WebshopLayer.Models.PlatformModel>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
@if (Model.Count() != 0)
{

            foreach (var item in Model)
            {

                
                    @Html.ActionLink(@Html.DisplayFor(m => item.Name).ToString(), "PlatformList", new { id = item.ID }, new { @class = "list-group-item" })                     
                
            } 
                
                    @Html.ActionLink("Összes", "PlatformList", new { id = 100 }, new { @class = "list-group-item" })        
                
            }
            else
            {
                <p>No data in DataBase!</p>
            }
