﻿@model IEnumerable<WebshopLayer.Models.GetWishListGameModel>
@{
    ViewBag.Title = "CrudKivánságlista";
}

<div class="container">
    
        <div class="well text-center">


            <h3> <strong>Kivánságlista</strong> </h3>


       
    </div>

    @foreach (var item in Model)
    {
        if (item.CustomerID == (int)Session["UserId"])
        {
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src='@Url.Action("Show", "Crud", new { id = item.GameID })' alt="~/assets/img/dummyimg.png" width="140" height="200" />
                    <div class="caption">
                        <h3><a href="#">@Html.DisplayFor(m => item.GameName) </a></h3>
                        <p>Ár : <strong>@Html.DisplayFor(m => item.GamePrice) HUF</strong></p>
                        <p>
                            @Html.ActionLink(" ", "AddToCart", new { customerid = Session["UserId"], productid = item.GameID, productname = item.GameName, description = item.Description, price = item.GamePrice, image = item.Image1 }, new { @class = "btn btn-success glyphicon glyphicon-shopping-cart", type = "submit" })

                                @Html.ActionLink(" ", "RemoveWishlistItem", new { id = item.WishlistID }, new { @class = "btn btn-default glyphicon glyphicon-heart" })
                    </div>
                </div>
            </div>
        }

    }
    <!-- /.col -->
    
    <!-- /.col -->
    
</div>
