﻿@{ var order = WebshopLayer.Classes.MyAuthorizeFilterAttribute.SessionStore; }
@{
    ViewBag.Title = "Kosár";
    decimal s = 0;
}
@Html.AntiForgeryToken()
@using (Html.BeginForm("UpdateCartItem", "Crud", FormMethod.Post))
{
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Termék</th>
                <th style="width:10%">Ár</th>
                <th style="width:8%">Mennyiség</th>
                <th style="width:22%" class="text-center">Részösszeg</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        
    @if (order.Keys.Count == 0)
            {
        <p>Nincs termék a kosárban!</p>
    }
    @foreach (var item in order.ToList())
        {
            s = s + item.Value.Price * item.Value.Quantity;
        <tbody>
            <tr>
                <td data-th="Product">
                    <div class="row">
                        @*<div class="col-sm-2 hidden-xs"><img src='@Url.Action("Show", "Crud", new { id = item.image1 })' alt="~/assets/img/dummyimg.png" class="img-responsive" /></div>*@
                        <div class="col-sm-10">
                            <h4 class="nomargin">@Html.DisplayFor(m => item.Value.ProductName)</h4>
                            <p>@Html.DisplayFor(m => item.Value.Description)</p>
                        </div>
                    </div>
                </td>

                    @Html.HiddenFor(m => item.Key)
                <td data-th="Price">@Html.DisplayFor(m => item.Value.Price, new { id = "singleItemPrice" }) HUF</td>
                <td data-th="Quantity">
                    @*@Html.TextBoxFor(m => item.Value.Quantity, new { @class = "form-control text-center" })*@

                    <input type="number" name="quantity" class="form-control text-center" value="@item.Value.Quantity" min="1">
                </td>
                <td data-th="Subtotal" class="text-center">@(item.Value.SubTotal=item.Value.Quantity*item.Value.Price) HUF</td>
                <td class="actions" data-th="">
                    
                    @*@Html.ActionLink(" ", "UpdateCartItem", new { id = item.Key, quantity = item.Value.Quantity }, new { @class = "btn btn-info btn-sm fa fa-refresh", type = "submit" })*@
                    @Html.ActionLink(" ", "RemoveCartItem", new { id = item.Key }, new { @class = "btn btn-danger btn-sm fa fa-trash-o", type = "span" })

                </td>

            </tr>
        </tbody>
            if (item.Key == order.Keys.Last())
                {
                <tfoot>
                    <tr>
                        
                        <td>@Html.ActionLink("Vissza a vásárláshoz", "Index", "Crud", new { @class = "btn btn-warning" })@*<a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Vissza a vásárláshoz</a>*@</td>
                        <td colspan="1" class="hidden-xs"></td>
                        <td><button type="submit" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button></td>
                        <td class="hidden-xs text-center"><strong>Összeg: @(s) HUF</strong></td>
                            <td>@Html.ActionLink("Rendelés ", "AddToOrder", new { customerid = Session["UserId"] }, new { @class = "btn btn-success btn-block", type = "submit" })</td>

                            @*<td><a href="#" class="btn btn-success btn-block">Rendelés <i class="fa fa-angle-right"></i></a></td>*@
                        
                    </tr>
                </tfoot>
        }

    }
            
        
        
    </table>
</div>
}
