﻿@model WebshopLayer.Models.ProductModel

@{
    ViewBag.Title = "CrudProductDetails";
}

@Html.HiddenFor(m => m.ID);
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img style="max-width:100%;" src='@Url.Action("Show", "Crud", new { id = Model.ID })' alt="~/assets/img/dummyimg.png" />
            </div>
            <div class="col-xs-5" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3>@Html.DisplayFor(m => m.Name)</h3>

                <!-- Precios -->
                <h6 class="title-price"><small>Ár</small></h6>
                <h3 style="margin-top:0px;">@Html.DisplayFor(m => m.Price) HUF </h3>

                <!-- Detalles especificos del producto -->
                <div class="section">
                    <h6 class="title-attr" style="margin-top:15px;"><small>Kiadási dátum</small></h6>
                    <div>
                        <div class="attr">@Html.DisplayFor(m => m.ReleaseDate)</div>
                    </div>
                </div>
                <div class="section" style="padding-bottom:5px;">
                    <h6 class="title-attr"><small>Korhatár</small></h6>
                    <div>
                        <div class="attr2">@Html.DisplayFor(m => m.AgeLimit)</div>
                    </div>
                </div>
                <div class="section" style="padding-bottom:20px;">
                    <h6 class="title-attr"><small>Mennyiség</small></h6>
                    <div>
                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                        <input value="1" />
                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>

                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Kosárba</button>
                    @if (Session["UserId"] != null)
                    {
                        using (Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud"))
                        {
                            @Html.ActionLink("Kivánságlistához ad", "AddToWishList", new { customerid = Session["UserId"], productid = Model.ID }, new { @class = "btn btn-danger", type = "submit" })
                        }
                    }
                </div>
            </div>

            <div class="col-xs-9">
                
                <div style="width:100%;border-top:1px solid silver">
                    <p style="padding:15px;">
                        @Html.DisplayFor(m => m.Description)
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</body>

