﻿@model WebshopLayer.Models.CustomerModel

@using (Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud"))
{

    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID);
    <div class="container">
        <div id="signupbox" style="margin-top:50px; position:center " class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Regisztráció</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="email" class="col-md-3 control-label">@Html.LabelFor(m => m.E_mail)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.E_mail, new { @class = "form-control", @type = "email", @placeholder = "E-mail" })
                                @Html.ValidationMessageFor(m => m.E_mail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="lastname" class="col-md-3 control-label">@Html.LabelFor(m => m.LastName)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @type = "text", @placeholder = "Vezetéknév" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="firstname" class="col-md-3 control-label">@Html.LabelFor(m => m.FirstName)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @type = "text", @placeholder = "Keresztnév" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="password" class="col-md-3 control-label">@Html.LabelFor(m => m.Password)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Jelszó" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="password" class="col-md-3 control-label">@Html.LabelFor(m => m.ConfirmPassword)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Jelszó újra" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="phonenumber" class="col-md-3 control-label">@Html.LabelFor(m => m.PhoneNumber)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @type = "text", @placeholder = "Telefonszám" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="zipcode" class="col-md-3 control-label">@Html.LabelFor(m => m.ZipCode)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", @type = "text", @placeholder = "Irányitószám" })
                                @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="town" class="col-md-3 control-label">@Html.LabelFor(m => m.Town)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.Town, new { @class = "form-control", @type = "text", @placeholder = "Város" })
                                @Html.ValidationMessageFor(m => m.Town, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="street" class="col-md-3 control-label">@Html.LabelFor(m => m.Street)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.Street, new { @class = "form-control", @type = "text", @placeholder = "Utca" })
                                @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="margin-bottom:20px" for="streetnumber" class="col-md-3 control-label">@Html.LabelFor(m => m.StreetNumber)</label>
                            <div style="margin-bottom:20px" class="col-md-9">
                                @Html.TextBoxFor(m => m.StreetNumber, new { @class = "form-control", @type = "text", @placeholder = "Házszám" })
                                @Html.ValidationMessageFor(m => m.StreetNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <!-- Button -->
                            <div style="margin-bottom:20px" class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Regisztráció" class="btn btn-info" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
}
