﻿@model WebshopLayer.Models.ContactModel
@{
    ViewBag.Title = "CrudKapcsolat";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@Html.AntiForgeryToken()
@using (Html.BeginForm("SendEmail", "Crud", FormMethod.Post))
{
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <strong>E-mail küldése </strong>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Teljes név" })
                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.E_mail, new { @class = "form-control", @placeholder = "E-mail" })
                    @Html.ValidationMessageFor(m => m.E_mail, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    @*<textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Üzenet">*@
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Üzenet" })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger"})
                    @*</textarea>*@
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Elküldés"/>
                </div>
            </div>
        </div>

    </div>
}
