﻿<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GAMERz Webshop</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Fontawesome core CSS -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--Slide Show Css -->
    <link href="~/assets/ItemSlider/css/main-style.css" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ItemSlider")
    @Scripts.Render("~/bundles/jquery")

    @Html.AntiForgeryToken()
    <form id="form1" runat="server">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("GAMERz Webshop", "Index", "Crud", new {@class="navbar-brand" })
                    @*<a class="navbar-brand"><strong>GAMERz</strong> Webshop</a>*@

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Főoldal", "Index", "Crud")</li>
                        <li>@Html.ActionLink("Kapcsolat", "Contact", "Crud")</li>
                        @if (Session["UserId"] != null) 
                        {
                            @Html.AntiForgeryToken()
                            <li>@Html.ActionLink("Kosár", "Cart", "Crud")</li>
                            <li>@Html.ActionLink("Kivánságlista", "Wishlist", "Crud")</li>

                                <li>@Html.ActionLink("Kilépés", "Logout", "Crud")</li>
                                <li>
                                    <a class="navbar-brand">@Html.ActionLink("Hello " + Session["UserEmail"] + "!", "Profil", new { id = Session["UserId"] })</a>
                                </li>
                        }
                        else
                        {
                            
                            <li>@Html.ActionLink("Regisztráció", "Reg", "Crud")</li>
                            <li>@Html.ActionLink("Belépés", "LoginView", "Crud")</li>

                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </form>
</head>
<body>
    @RenderBody()



    <!-- /.container -->
    <!--Footer -->
    <div class="col-md-12 footer-box">




        <div class="row">
            <div class="col-md-4">
                <strong>Irodánk:</strong>
                <hr />
                <p>
                    1115, Bartók Béla út 125H,<br />
                    Budapest, Magyarország<br />
                    Telefon: +36 1 365 3003<br />
                    Email: info@gamerzwebshop.com<br />
                </p>

                2017 | www.gamerzwebshop.azurewebsites.net | All Right Reserved
            </div>
            <div class="col-md-4 social-box">
                <strong>Online elérhetőségeink: </strong>
                <hr />
                <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                
            </div>
        </div>
        <hr />
    </div>
    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2017 | &nbsp; Email: info@gamerzwebshop.com
    </div>
    <!-- /.col -->
    <!--Footer end -->
    @section Scripts{
    <!--Core JavaScript file  -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!--bootstrap JavaScript file  -->
    <script src="~/assets/js/bootstrap.js"></script>
        }


    @Styles.Render("~/assets/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ItemSlider")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
