﻿

@if (Session["UserId"]!=null)
{
    @Html.AntiForgeryToken()
    <li>@Html.ActionLink("Kosár", "Kosár", "Crud")</li>
    <li>@Html.ActionLink("Kivánságlista", "Kivánságlista", "Crud")</li>
    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("Kilépés", "Logout", "User")</li>
        <li>
           <strong>@Html.ActionLink("Hello " + Session["UserEmail"] + "!", "Profil", "Crud")</strong> 
        </li>
</ul>
}
else
{
    @Html.AntiForgeryToken()
        <li>@Html.ActionLink("Regisztráció", "Regisztráció", "Crud")</li>
        <li>@Html.ActionLink("Belépés", "Bejelentkezés", "Crud")</li>
      
}
